.content {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 10px 462px;
    width: calc(110% - 300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aviso-aluno {
    background-color: #e9ecef;
    color: #495057;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.aviso-aluno strong {
    font-weight: bold;
}

.aviso-aluno i {
    margin-right: 5px;
}

.turmas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.turma-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .turma-card {
        width: 100%;
    }
}

.turma-card h3 {
    color: #007bff;
    margin-top: 0;
    margin-bottom: 10px;
}

.turma-card p {
    margin-bottom: 8px;
    color: #555;
}

.turma-card strong {
    font-weight: bold;
    color: #333;
}

/* Ações da Turma */
.turma-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.turma-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.turma-actions button:hover {
    background-color: #0056b3;
}

.turma-actions button:last-child {
    background-color: #28a745; /* Cor para o botão "Ver Alunos" */
}

.turma-actions button:last-child:hover {
    background-color: #1e7e34;
}

/* Botão Adicionar Turma */
.adicionar-turma {
    margin-top: 20px;
    text-align: center;
}

.adicionar-turma button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.adicionar-turma button:hover {
    background-color: #545b62;
}

.adicionar-turma i {
    margin-right: 8px;
}